/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}
i,
svg,
path {
  pointer-events: none;
}
/* components start */
.container {
  width: 1150px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  border: 0;
  border-bottom: 3px solid #736357;
  border-radius: 3px;
  background: #998675;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  width: 170px;
  max-width: 100%;
  padding: 20px 36px 15px;
  outline: none;
}
.btn:hover {
  border-bottom-width: 1px;
  margin-top: 2px;
}
section {
  padding: 81px 0;
}
/* components end */

/* header-page start */
.header-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 97px;
  display: flex;
}
.header-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 20, 25, 0.9);
  z-index: 2;
}
.header-page__container {
  display: flex;
  align-items: center;
  position: relative;
}
.header-page__start {
  flex: 1;
  z-index: 3;
}
.header-page__start .logo {
  display: flex;
  align-items: center;
}
.logo__text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 34px;
}
.header-page__end {
  display: flex;
}
.header-page__nav {
  margin-right: 34px;
}
.header-page__ul {
  list-style: none;
  display: flex;
  position: relative;
  z-index: 3;
}
.header-page__link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 10px 15px;
  transition: color 0.3s;
}
.header-page__link--gold,
.section-theme__title span {
  color: #c7b299;
}
.header-page__link:hover {
  color: #c7b299;
}
.header-page__icon {
  padding: 0;
}
.header-page__icon:first-child {
  padding-right: 28px;
}
.header-page__hamburger {
  display: none;
}
.btn-menu {
  background: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px 15px 15px 0;
  border: 0;
  outline: none;
}
.btn-menu__box {
  display: inline-block;
  width: 40px;
  height: 24px;
}
.btn-menu__inner,
.btn-menu__inner::before,
.btn-menu__inner::after {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 5px;
}
.btn-menu__inner {
  position: relative;
  display: block;
  top: 50%;
  transition: background-color 0.3s;
}
.btn-menu__inner::before,
.btn-menu__inner::after {
  content: "";
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
.btn-menu__inner::after {
  bottom: -10px;
}
.btn-menu__inner::before {
  top: -10px;
}
@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .header-page {
    height: 75px;
  }
  .header-page__container {
    justify-content: space-between;
  }
  .header-page__start,
  .header-page__hamburger,
  .header-page__end {
    flex: 1;
  }
  .logo {
    justify-content: center;
  }
  .header-page__end {
    justify-content: flex-end;
  }
  .header-page__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #555555;
    padding: 100px 0;
    transition: top 0.3s;
  }
  .header-page__nav.active {
    top: 0;
  }
  .header-page__ul {
    display: block;
  }
  .header-page__hamburger {
    display: block;
    z-index: 3;
  }
  .header-page__hamburger.active .btn-menu__inner {
    background-color: transparent;
  }
  .header-page__hamburger.active .btn-menu__inner::before {
    transform: rotate(45deg);
    top: -5px;
  }
  .header-page__hamburger.active .btn-menu__inner::after {
    transform: rotate(-45deg);
    bottom: 4px;
  }
  .header-page__end {
    position: relative;
    z-index: 3;
  }
  .header-page__link {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .logo__text {
    display: none;
  }
  .fa-shopping-cart {
    display: none;
  }
}
/* header-page end */

/* section-top start */
.section-top {
  height: 100vh;
  background: #555556 url(../img/slider/bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 600px;
  position: relative;
  color: #fff;
  padding-top: 140px;
}
.section-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 85, 86, 0.35);
}
.section-top__container {
  position: relative;
  width: 590px;
}
.section-top__suptitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.section-top__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin: 15px 0 30px;
}
.section-top__subtitle {
  max-width: 562px;
  margin: 0;
}
.section-top__btn {
  margin-top: 52px;
}
@media (max-width: 580px) {
  .section-top__title {
    font-size: 40px;
  }
  .section-top__suptitle {
    font-size: 30px;
  }
}
@media (max-width: 468px) {
  .section-top__title {
    font-size: 34px;
  }
  .section-top__suptitle {
    font-size: 26px;
  }
}
@media (max-width: 400px) {
  .section-top__title {
    font-size: 28px;
  }
  .section-top__suptitle {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .section-top__title {
    font-size: 24px;
  }
  .section-top__suptitle {
    font-size: 18px;
  }
}
/* section-top end */

/* section-services start */
.section-services__container {
  display: flex;
  justify-content: center;
}

.section-services__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-services__card {
  max-width: 266px;
  text-align: center;
  position: relative;
  padding-bottom: 33px;
  transition: color 0.3s;
}
.section-services__card:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background: #f1eee9;
  bottom: 0;
  left: calc(50% - 35px);
  transition: background 0.3s;
}
.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #555;
  padding: 30px 0 24px;
  transition: color 0.3s;
}
.card__text {
  color: #8c8c8c;
  line-height: 24px;
}
.section-services__card--gold,
.card__title--gold {
  color: #c7b299;
}
.section-services__card--gold:before {
  background: #c7b299;
}
.section-services__card:hover,
.section-services__card:hover .card__title {
  color: #c7b299;
}
.section-services__card:hover:before {
  background: #c7b299;
}
@media (max-width: 819px) {
  .section-services__cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-services__card:nth-child(2n + 1),
  .section-services__card:nth-child(2n + 2) {
    margin-bottom: 40px;
  }
}
/* section-services end */

/* section-realization start */
.section-realization {
  padding-bottom: 0;
  margin: 0;
}
.section-realization__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.section__header {
  padding-bottom: 45px;
  max-width: 756px;
  text-align: center;
}
.header__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 32px;
}
.header__subtitle {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 28px;
}
.browser-center,
.browser-left,
.browser-right {
  position: absolute;
}
.browser-center {
  left: calc(50% - 385px);
  z-index: 3;
}
.browser-left {
  left: -45px;
  top: 229px;
}
.browser-right {
  right: -45px;
  top: 229px;
}
@media (max-width: 1280px) {
  .ideas {
    display: flex;
    flex-direction: column;
  }
  .ideas img:nth-child(n) {
    margin-bottom: 25px;
  }
  .ideas img:last-child {
    margin-bottom: 0;
  }
  .browser-center,
  .browser-left,
  .browser-right {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 517px) {
  .header__title {
    font-size: 24px;
  }
}
@media (max-width: 415px) {
  .header__title {
    font-size: 20px;
  }
  .header__subtitle {
    font-size: 14px;
  }
}
/* section-realization end */

/* section-theme start */
.section-theme {
  margin-top: 482px;
  padding: 50px 0 53px;
}
.fullsize-section {
  background-image: -moz-linear-gradient(
    0deg,
    rgb(33, 27, 25) 0%,
    rgb(78, 52, 39) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(33, 27, 25) 0%,
    rgb(78, 52, 39) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(33, 27, 25) 0%,
    rgb(78, 52, 39) 100%
  );
}
.section-theme__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-theme__text {
  max-width: 530px;
}
.section-theme__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #fff;
}
.section-theme__subtitle {
  color: #615855;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .section-theme {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .section-theme__container {
    flex-direction: column;
  }
  .section-theme__text {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 545px) {
  .section-theme__title {
    font-size: 22px;
  }
}
/* section-theme end */

/* section-projects start */
.section-projects__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-projects__header,
.section-posts__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-header__nav {
  margin-top: 43px;
}
.section-header__ul {
  list-style: none;
  display: flex;
}
.section-header__link {
  color: #8c8c8c;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 17px;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  margin: 0 10px;
  transition: color 0.3s, background 0.3s;
}
.section-header__link--active,
.section-header__link:hover {
  border-color: #998675;
  color: #fff;
  background: #998675;
}
.section-projects__projects,
.section-posts__posts {
  display: flex;
  flex-wrap: wrap;
}
.section-projects__project,
.section-posts__post {
  max-width: 346px;
  height: 337px;
  margin: 0px 30px 30px 0;
}
.section-projects__project:nth-child(3n + 3) {
  margin: 0px 0 30px 0;
}
.section-projects__project:nth-child(n + 7) {
  display: none;
}
.project__text,
.post__text {
  background: #fbfaf8;
  padding: 30px 28px;
  margin-top: -10px;
  position: relative;
  max-width: 371px;
  transition: background 0.3s;
}
.project__text--active,
.post__text--active,
.section-projects__project:hover .project__text,
.section-posts__post:hover .post__text {
  background: #362f2d;
}
.project__text:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background: inherit;
  transform: rotate(45deg);
  top: -10px;
}
.project__title,
.post__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  padding-bottom: 14px;
  text-transform: capitalize;
  transition: color 0.3s;
}
.project__title--active,
.post__title--active,
.section-projects__project:hover
  .project__title
  .section-posts__post:hover
  .post__title {
  color: #fff;
}
.project__subtitle,
.post__subtitle {
  color: #d1d1d1;
  transition: color 0.3s;
}
.project__subtitle--active,
.section-projects__project:hover .project__subtitle,
.post__subtitle--active,
.section-posts__post:hover .post__subtitle {
  color: #c7b299;
}
@media (max-width: 1136px) {
  .section-projects__projects,
  .section-posts__posts {
    justify-content: center;
  }
  .section-projects__project:nth-child(even) {
    margin: 0px 0 30px 0;
  }
}
@media (max-width: 740px) {
  .section-projects__project {
    margin: 0px 0 30px 0;
  }
}
@media (max-width: 647px) {
  .section-header__nav {
    display: none;
  }
}
/* section-projects end */

/* section-video start */
.section-video {
  height: 708px;
  background: url(../img/video/photo.jpg) no-repeat center;
  background-size: cover;
}
.section-video__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.play-btn {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  padding: 15px;
  width: 100px;
  margin-bottom: 45px;
}
.play-btn:hover {
  margin-top: 0;
  animation: turnAround 1.3s 1;
}
@keyframes turnAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-video__header .header__title,
.section-video__header .header__subtitle {
  color: #fff;
}
/* section-video end */

/* section-mobile start */
.section-mobile {
  padding-bottom: 0;
}
.section-mobile__container {
  display: flex;
  justify-content: space-between;
}
.phone__img {
  margin-right: 34px;
}
.section-mobile__header .header-text {
  max-width: 654px;
}
.collapses {
  display: flex;
  flex-direction: column;
  margin: 43px 0 0 50px;
  max-width: 623px;
}
.collapse {
  height: 35px;
  margin: 15px;
  overflow: hidden;
}
.collapse.collapse--active {
  height: auto;
}
.collapse.collapse--active button {
  animation: moveDown 0.2s forwards;
}
.collapse__header {
  display: flex;
  align-items: center;
  height: auto;
  cursor: pointer;
}
.collapse__header button {
  border: 0;
  background: none;
  color: #c7b299;
  margin-right: 20px;
  outline: none;
  animation: moveUp 0.2s forwards;
}
.collapse__content {
  padding: 8px 0 0 38px;
}
@keyframes moveDown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes moveUp {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media (max-width: 1024px) {
  .phone__img {
    display: none;
  }
  .section-mobile__container {
    justify-content: center;
  }
  .collapses {
    margin: 38px 0 0 35px;
  }
}
@media (max-width: 668px) {
  .collapses {
    margin: 30px 0 0 20px;
  }
  .collapse .header__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .collapses {
    display: none;
  }
}
/* section-mobile end */

/* section-counters start */
.section-counters {
  min-height: 300px;
  padding: 69px 0 60px;
}
.section-counters__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-counters__counters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section-counters__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c7b299;
  position: relative;
  padding-bottom: 30px;
  text-transform: uppercase;
  max-width: 136px;
  margin-right: 75px;
}
.section-counters__counter:last-child {
  margin-right: 0;
}
.section-counters__counter:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: calc(50% - 15px);
}
.section-counters__number {
  font-weight: 200;
  font-size: 48px;
  margin: 30px 0 21px;
  color: #fff;
}
@media (max-width: 890px) {
  .section-counters__counter:nth-child(n + 5) {
    margin-top: 45px;
  }
}
@media (max-width: 780px) {
  .section-counters__counter:nth-child(n + 4) {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .section-counters__counters {
    flex-direction: column;
  }
  .section-counters__counter {
    margin-bottom: 35px;
    margin-right: 0;
  }
}
/* section-counters end */

/* section-posts start */
.section-posts__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-posts__post {
  position: relative;
}
.post__date {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
}
.date__number {
  font-size: 24px;
  color: #fff;
  padding: 9px 12px;
  background-color: #363636;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.date__month {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding: 7px 15px;
  background-color: #252525;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.date__number--active {
  background-color: #c7b299;
}
.date__month--active {
  background-color: #a48d72;
}
.post__title {
  color: #555555;
}
.post__title--active {
  color: #c7b299;
}
.post__subtitle {
  color: #8c8c8c;
}
.post__subtitle--active {
  color: #fff;
}
.post__readmore {
  display: inline-block;
  padding-top: 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: #c7b299;
}
.section-posts__buttons {
  margin-top: 40px;
}
.left-btn,
.right-btn {
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  background: none;
  border-radius: 50%;
  width: 22px;
  padding: 3px;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.right-btn--active {
  border-color: #c7b299;
  color: #c7b299;
  margin-left: 5px;
}
@media (max-width: 1130px) {
  .section-posts__post:nth-child(3) {
    margin-top: 35px;
  }
  .section-posts__post:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 1130px) {
  .section-posts__post {
    margin-top: 35px;
  }
}
@media (max-width: 425px) {
  .section-posts__post {
    margin-right: 0;
  }
}
/* section-posts end */

/* section-sponsors start */
.section-sponsors {
  background: url(../img/logos/bg.jpg) no-repeat center;
  background-size: cover;
}
.section-sponsors__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 489px;
}
.section-sponsors__sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-sponsors__sponsor {
  margin-right: 90px;
}
.section-sponsors__sponsor:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .section-sponsors__sponsors {
    flex-wrap: wrap;
  }
  .section-sponsors__sponsor:nth-child(2n + 2) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .section-sponsors__sponsor:nth-child(2n + 1) {
    margin-bottom: 40px;
  }
}
@media (max-width: 530px) {
  .section-sponsors__sponsors {
    flex-direction: column;
  }
  .section-sponsors__sponsor {
    margin-right: 0;
  }
}
/* section-sponsors end */

/* footer start */
.footer-top {
  background: #191919;
}
.footer-top__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top__content {
  padding: 81px 0;
  width: 1150px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-top__about {
  max-width: 260px;
}
.about__logo {
  display: flex;
  align-items: center;
}
.about__logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
}
.about__text {
  margin: 30px 0 34px;
}
.footer__text {
  color: #555555;
  line-height: 24px;
}
.footer__readmore {
  font-weight: 400;
  color: #d1d1d1;
  text-decoration: none;
}
.footer-top__posts,
.footer-top__twitter,
.footer-top__dribbble {
  max-width: 270px;
}
.footer-top__posts-title,
.footer-top__twitter-title,
.footer-top__dribbble-title {
  padding: 25px 0 11px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 23px;
  text-transform: capitalize;
}
.footer-top__post,
.footer-top__twit {
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 20px;
}
.footer-top__post:not(:last-child):before,
.footer-top__twit:not(:last-child):before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #252525;
}
.footer-post__date,
.footer-twit__date {
  padding-bottom: 13px;
  font-size: 12px;
  color: #363636;
}
.footer-twit__date {
  padding-top: 14px;
  padding-bottom: 0;
}
.footer-post__date--active {
  color: #fff;
}
.footer-post__text--active {
  color: #c7b299;
}
.footer-twit__text--blue {
  color: #00bff3;
}
.footer-twit__text-link {
  text-decoration: none;
  color: #959595;
}
.footer-top__dribbble {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.footer-bottom {
  background: #111111;
}
.footer-bottom__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 46px 0 55px;
}
.footer-bottom__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.footer-bottom__text span {
  padding: 0 13px;
}
.footer-bottom__text span,
.text__start span a {
  color: #555555;
}
span:nth-child(3) a {
  color: #c7b299;
}
.footer-bottom__text span {
  position: relative;
}
.footer-bottom__text span:not(:last-child):before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 6px);
  width: 1px;
  height: 12px;
  background-color: #252525;
}
.footer-bottom__text a {
  text-decoration: none;
}
.text__end a,
.text__start span:first-child a {
  color: #959595;
}
@media (max-width: 1075px) {
  .footer-top__content {
    flex-direction: column;
    align-items: center;
  }
  .footer-top__about,
  .footer-top__posts,
  .footer-top__twitter,
  .footer-top__dribbble {
    max-width: 350px;
  }
  .footer-top__dribbble {
    align-items: center;
  }
  .footer-top__dribbble-photos {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .footer-bottom__text {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text__end {
    margin-top: 25px;
  }
}
@media (max-width: 444px) {
  .footer-bottom__text {
    flex-direction: column;
  }
  .text__start,
  .text__end {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text__start span,
  .text__end span {
    margin-bottom: 12px;
  }
  .footer-bottom__text span:before {
    display: none;
  }
}
/* footer end */
